.p__nosotros{
    margin-bottom: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media (min-width:500px){
    .p__nosotros{
        width: 450px;
        margin: 30px;
    }
}
@media (min-width:600px){
    .p__nosotros{
        width: 500px;
        margin: 50px;
    }
}
@media (min-width:750px){
    .p__nosotros{
        margin-left: 120px;
    }
}
@media (min-width:900px){
    .p__nosotros{
        margin-left: 180px;
    }
}
@media (min-width:1000px){
    .p__nosotros{
        margin-left: 210px;
    }
}
@media (min-width:1100px){
    .p__nosotros{
        margin-left: 260px;
    }
}
@media (min-width:1200px){
    .p__nosotros{
        margin-left: 270px;
        margin-right: 270px;
    }
}
