h1{
    font-size: 30px;
    border-style: solid;
    margin-top: 10px;
}
.h1{
    @extend %bordo;
}
.div__grid{
    margin:5px
}

.carritoNav{
    display: flex;
    flex-direction: row-reverse;
}
.h2__tienda, .h2__inicio{
    border-style: solid;
    @extend %bordo;
}
.h2__inicio{
    height: 40px;
}
h3{
    font-size: 17px;
    font-weight: bold;
    @extend %bordo;
    padding: 3px;
    margin: 6px;
    border-style: dotted;
}

.compra{
    background-color: rgb(241, 241, 180);
}
.imgCompra{
    width: 24px;
    height: 24px;
}

.productos{
    display: grid;
    grid-template-columns: 1fr;
}
@media (min-width:321px){
    .h2__tienda{
        height: 70px;
    }
}
@media (min-width:500px){
    .productos{
        grid-template-columns: 1fr 1fr;
    }
    .h2__tienda{
        height: 100px;
    }
    .h2__inicio{
        height: 70px;
    }
}
@media (min-width:1025px){
    .h2__tienda{
        height: 115px;
    }
    .h2__inicio{
        height: 80px;
    }
    .productos{
        grid-template-columns: 1fr 1fr 1fr
    }
}
@media (min-width:1200px){
    .div__grid{
        width: 400px;
        height: 550px;
        margin-right: 45px;
    }
}
